{% extends 'base.html' %}
{% load static %}

{% block page %}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo header-text">{{profile.user.first_name|upper}}'S PORTFOLIO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">PROJECTS</a></li>
        </ul>
    </div>
</nav>
<div class="fixed-size-container">
    <div class="project-edit">
        <div class="project-edit-header editable">
            <h1 class="project-title-xl">Blank Page</h1>
        </div>
        <img src="{% static 'img/placeholders/apartment.png' %}">
        <div class="editable">
            <p class="project-description-paragraph">
                Here is a blank page for you to get started. Try adding a component on the left menu!
            </p>
        </div>
    </div>
</div>
{% endblock %}
