{% extends 'test_pages/dummy_init.html' %}
{% load static %}

{% block page %}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">{{profile.user.first_name|upper}}'S PORTFOLIO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">PROJECTS</a></li>
        </ul>
    </div>
</nav>
<div class="fixed-size-container main-container sortable">
    <h2 class="project-title-xl ud editable">VINCENT VAN GOGH</h2>
    <span class="ud">
        <img src="{% static 'img/placeholders/cherry-blossom.jpg' %}">
    </span>
    <p class="ud editable">
        Welcome to my portfolio. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet volutpat consequat mauris nunc. Donec enim diam vulputate ut pharetra. Nunc mi ipsum faucibus vitae. Sodales ut etiam sit amet nisl. Ultricies integer quis auctor elit sed. Tortor at risus viverra adipiscing at. Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Enim diam vulputate ut pharetra sit amet aliquam. Non arcu risus quis varius. Turpis tincidunt.
    </p>
</div>
{% endblock %}
