{% load static %}

<div class="content-html">
<div class="fixed-size-container sortable main-container">
    <div class="ud">
    	<div class="project-title-xl editable">
    		<h2>INSTRUCTION</h2>
    	</div>
    </div>
    <div class="ud">
        <img src="{% static 'img/instruction/Instruction-1.jpg' %}">
        <img src="{% static 'img/instruction/Instruction-2.jpg' %}">
        <img src="{% static 'img/instruction/Instruction-3.jpg' %}">
        <img src="{% static 'img/instruction/Instruction-4.jpg' %}">
    </div>
</div>
</div>