{% load static %}

<div class="content-html">
    <div class="fixed-size-container sortable" id="main-container">
        <div class="project-title-xl ud editable"><h2>Blank Page</h2></div>
        <div class="ud">
            <img src="{% static 'img/placeholders/apartment.png' %}">
        </div>
        <div>
            <p class="ud editable">
                Here is a blank page for you to get started. Try adding a component on the left menu!
            </p>
        </div>
    </div>
</div>
