{% load static %}

<div class="content-html">
    <div class="fixed-size-container sortable" id="main-container">
        <div class="ud">
        	<h1 class="project-title-xl editable">Blank Page</h1>
        </div>
        <div class="ud">
            <img src="{% static 'img/placeholders/apartment.png' %}">
        </div>
        <p class="ud">
        	<div class="editable">
            	Here is a blank page for you to get started. Try adding a component on the left menu!
            </div>
        </p>
    </div>
</div>
