{% load static %}

<div class="content-html">
    <div class="fixed-size-container sortable main-container">
        <div class="project-title-xl editable ud"><h2>UPDATE</h2></div>
        <div class="ud">
            <img src="{% static 'img/placeholders/lovingvincent.jpg' %}">
        </div>
        <div class="editable ud">
            <p>
                Here is the permiere of the new film about me -- Loving Vincent. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet volutpat consequat mauris nunc. Donec enim diam vulputate ut pharetra. Nunc mi ipsum faucibus vitae. Sodales ut etiam sit amet nisl. Ultricies integer quis auctor elit sed. Tortor at risus viverra adipiscing at. Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Enim diam vulputate ut pharetra sit amet aliquam. Non arcu risus quis varius. Turpis tincidunt.
            </p>
        </div>
    </div>
</div>
