{% load static %}
<div id="editor-bar" class="dark">
	<div class="sidebar-header">
		<div class="sidebar-title">SITE EDITOR</div>
		<div class="sidebar-description">
			Drag and drop componenets to add to your portfolio site.
		</div>
		<div class="editor-body">
	        <!-- tabs -->
	        <div class="row">
	            <ul class="tabs tabs-light">
	                <li class="tab">
	                	<a class="active" href="#assets">ASSETS</a>
	                </li>
	                <li class="tab">
	                	<a href="#component">COMPONENT</a>
	                </li>
	            </ul>
	            <div id="all" class="col s12">first tab</div>
	            <div id="component" class="col s12">second tab</div>
	        </div>
	    </div>
	</div>
</div>
