{% extends '../base.html' %} 
{% load static %}

{% block page %}


<div id="sidebar" class="light">
	<a id="toggle">
		<img src="{% static 'img/component/toggle.png' %}">
	</a> 
	<div class="close-btn" id="slider-exit">
		<i class="tab-icon material-icons">close</i>
	</div>
	<div class="sidebar-header">
		<div class="profile">
			<div class="icon-container">
                <img src="{% static 'img/placeholders/girl.jpeg' %}">
            </div>
            <div class="sidebar-name">
             	JANE<br>PETERSON
            </div>
		</div>
		<hr class="divider">
		<div class="sidebar-menu">
			<ul>
				<li class="sidebar-item">
					<a href="#">
						<i class="tab-icon material-icons">home</i>HOME
					</a>
				</li>
				<li class="sidebar-item">
					<a href="#">
						<i class="tab-icon material-icons">insert_drive_file</i>PROJECTS
					</a>
				</li>
				<li class="sidebar-item">
					<a href="#">
						<i class="tab-icon material-icons">language</i>SITE
					</a>
				</li>
				<li class="sidebar-item">
					<a href="#">
						<i class="tab-icon material-icons">inbox</i>INBOX
					</a>
				</li>
			</ul>
		</div>
		<div class="sidebar-bottom">
			<button id="logout" class="dark-btn-alt">LOG OUT</button>
		</div>
	</div>
</div>
{% endblock %}