{% extends '../base.html' %} {% load static %}
<div class="sidebar light">
	<div class="sidebar-header">
		<div class="col m3">
			<div class="col m2 icon-container">
                <img src="{% static 'img/placeholders/girl.jpeg' }">
            </div>
            <div class="sidebar-name">
             	JANE PETERSON
            </div>
		</div>
		<hr class="divider">
		<div class="sidebar-menu">
			<ul>
				<li class="sidebar-item">
					<i class="materialize-icon">home</i>HOME
				</li>
				<li class="sidebar-item">
					<i class="materialize-icon">insert_drive_file</i>PROJECTS
				</li>
				<li class="sidebar-item">
					<i class="materialize-icon">language</i>SITE
				</li>
				<li class="sidebar-item">
					<i class="materialize-icon">inbox</i>INBOX
				</li>
			</ul>
		</div>
		<div class="sidebar-bottom">
		<button id="logout" class="dark-btn">LOG OUT</button>
		</div>
	</div>
</div>