<div id="close-page-modal" class="modal close-page-screen">
   <!-- TODO move height to css -->
    <div class="modal-content" style="height:300px;">
        <div class="center text-center paint-as-input">
            <h2 class="logo-text">Close Page</h2>
            <p>
              You have unsaved changes. Do you still want to close this page?
            </p>
            <button type="submit" class="dark-btn-alt cancel modal-close">CANCEL</button>
            <button type="submit" class="dark-btn-alt close-button">CLOSE &#10230;</button>
        </div>
    </div>
    <a href="#close-add-modal" class="modal-action modal-close modal-close-btn">
        <i class="icon-close-big"></i>
    </a>
</div>
