<!-- image-selecting -->
<div id="copy-page-modal" class="modal library-modal">
    <div class="modal-content">
        <h4 class="header-text modal-header">NEW PAGE NAME</h4>
		<form method="post" action="#" id="copy-page-form">
	        <input name="name" class="input-medium" placeholder="Enter name here" id="copy-page-new-name">
            <input type="hidden" name="pageToCopy" value="#" id="page-to-copy-stored">
		    <button class="dark-btn-alt float-right" type="submit"> CREATE &#10230; </button>
	    </form>
    </div>
   
    <a href="#!" class="modal-action modal-close modal-close-btn close-img-upload">
    	<i class="icon-close-big"></i>
    </a>
</div>