<div id="delete-site-modal" class="modal add-page-screen">
    <div class="modal-content">
        <div id="delete-confirm" class="center text-center paint-as-input">
            <h2 class="logo-text">Delete Confirmation</h2>
            <table>Are you sure you want to delete your site?</table>
            <br>
            <button type="submit" value="yes" class="dark-btn-alt">YES</button>
            <button type="submit" value="no" class="dark-btn-alt modal-close">NO</button>
        </div>
    </div>
</div>