<div id="edit-site-modal" class="modal library-modal">
    <div class="paint-as-input fixed-size-container">
        <h5 class="header-text loose-spacing">EDIT SITE</h5>
        <form id="edit-site-modal" method="post">
            <table>
                {{edit_site_form}}
            </table>
            {% csrf_token %}
            <input type="hidden" name="oldName" value="{{ siteName }}" />

            <button id="save-site" type="submit" class="dark-btn-alt">SAVE</button>
<!--            <button href="#close-add-modal" class="modal-action modal-close dark-btn-alt">CANCEL</button>-->
        </form>
        <button href="#close-add-modal" class="modal-action modal-close dark-btn-alt">CANCEL</button>
    </div>
    
    <a href="#close-add-modal" class="modal-action modal-close modal-close-btn">
        <i class="icon-close-big"></i>
    </a>
</div>
