<div id="edit-site-modal" class="modal library modal">
<!--    TODO move height to css -->
    <div class="modal-content add-page-screen">
        <div class="center text-center paint-as-input">
            <h2 class="logo-text">Edit Site</h2>
            <form id="edit-site-modal" method="post">
                <table>
                    {{edit_site_form}}
                </table>
                {% csrf_token %}
                <button class="dark-btn-alt">SAVE &#10230;</button>
            </form>
        </div>
    </div>
    <a href="#edit-site-modal" class="modal-action modal-close modal-close-btn">
        <i class="icon-close-big"></i>
    </a>
</div>
