<div id="publish-site-modal" class="modal publish-site-screen">
    <div class="modal-content">
        <div class="center text-center paint-as-input">
            <h2 class="logo-text loose-spacing">Publish Site</h2>
            <p class="p-text">
                Latest change will be saved upon publishing. Please select pages to be published.
            </p>
            <form>
                <!-- add switch -->
                <div class="boxes"></div>
                <br>
                {% csrf_token %}
                <button id="add-new-page" class="dark-btn-alt">PUBLISH &#10230;</button>
            </form>
        </div>
    </div>
    <a href="#close-add-modal" class="modal-action modal-close modal-close-btn">
        <i class="icon-close-big"></i>
    </a>
</div>
