<!-- image-selecting -->
<div id="select-img-modal" class="modal library-modal">
    <div class="modal-content">
        <h4 class="header-text modal-header">SELECT IMAGE UPLOAD METHOD</h4>
        	<div class="item-menu">
        		<div class="opts-wrapper">
	        		<!-- local upload -->
	        		<a href="#" class="upload-option" id="local-opt" opt-target="#local-upload">
		        		<div class="opt-wrapper">
		        			<div class="opt-icon-wrapper">
		        				<i class="icon icon-upload"></i>
		        			</div>	
		        			<div class="opt-name header-text">
		        				LOCAL FILE <br>UPLOAD
		        			</div>
		        		</div>
		        	</a>
		        	<!-- choose from library -->
	        		<a href="#" class="upload-option" id="library-opt" opt-target="#library-upload">
		        		<div class="opt-wrapper">
		        			<div class="opt-icon-wrapper">
		        				<i class="icon icon-media"></i>
		        			</div>	
		        			<div class="opt-name header-text">
		        				CHOOSE FROM <br>LIBRARY
		        			</div>
		        		</div>
		        	</a>
		        	<!-- paste image url -->
		        	<a href="#" class="upload-option" id="link-opt" opt-target="#link-upload">
		        		<div class="opt-wrapper">
		        			<div class="opt-icon-wrapper">
		        				<i class="icon icon-link-streamline"></i>
		        			</div>	
		        			<div class="opt-name header-text">
		        				PASTE IMAGE <br>URL
		        			</div>
		        		</div>
		        	</a>
		        </div>
        	</div>
        	<div id="local-upload" class="upload-opt-div hidden">
			    <form method="post" enctype="multipart/form-data" action="{% url 'addMedia' 'ungrouped' %}" id="upload-media-form">
			        <table>
			            {% if message %}
			                {{message}}
			            {% endif %}
			            {{ upload_media_form }}
			        </table>
			    {% csrf_token %}
			    <button class="dark-btn-alt float-right" type="submit" id="upload-new-media"> UPLOAD &#10230; </button>
			    </form>
			</div>
        	<div id="library-upload" class="hidden upload-opt-div">
        		Select an image from the following.
        		<div class="row" id="library-contents">
				    <div class="col s12">
				        <ul class="tabs" id="library-project-tabs">
<!-- 				            <li class="tab col s3"><a href="#test1">Test 1</a></li>
				            <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
				            <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
				            <li class="tab col s3"><a href="#test4">Test 4</a></li> -->
				        </ul>
				    </div>
<!-- 				    <div id="test1" class="col s12">Test 1</div>
				    <div id="test2" class="col s12">Test 2</div>
				    <div id="test3" class="col s12">Test 3</div>
				    <div id="test4" class="col s12">Test 4</div> -->
				</div>
        	</div>
        	<div id="link-upload" class="hidden upload-opt-div">
        		<form method="post" action="#" id="paste-url-form">
			        <input name="url" class="input-medium" placeholder="Paste url here">
				    <button class="dark-btn-alt float-right" type="submit"> UPLOAD &#10230; </button>
			    </form>
        	</div>
    </div>
    <a href="#!" class="modal-action modal-close modal-close-btn close-img-upload">
    	<i class="icon-close-big"></i>
    </a>
</div>