{% extends 'base.html' %}

{% block page %}
<div class="half-page-left">
    <div class="center text-center easel-container">
        <h1 class="logo-text">EASEL</h1>
        <h5 class="sublogo-text">Portfolio<br>Creator</h5>
        <hr class="half-rule">
        <div class="call-to-action">
            <p>Let your artistic talent speaks for itself. <br>Create your portfolio now.</p>
        </div>
    </div>
</div>
<div class="half-page-right valign-wrapper scrollable padding-container">
    <div class="form-container">
        <div class="text-left">
            <h2 class="form-header logo-text">Sign In</h2>
        </div>
        <div class="text-center paint-as-input">
            <form method="post" action='{% url "login" %}'>
                {% csrf_token %}
                <table>{{ form.as_p }}</table>
                <div class="form-footer text-right">
                    <a href="{% url 'registration' %}">
                        Or Sign Up
                    </a>
                    &nbsp; &nbsp;
                    <button id="register-button" class="dark-btn" type="submit" name="action">START &#10230;</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
