{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- meta data -->
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Easel {% endblock %}</title>

    <!-- static files -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="{% static 'css/materialize.icon.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    {% block page %} 
        <div class="center text-center">
            <h1 class="logo-text">EASEL</h1>
            <h5 class="sublogo-text">Portfolio<br>Creator</h5>
            <hr class="half-rule">
            <p>Let your artistic talent speaks for itself. Create your portfolio now.</p>
        </div>
    {% endblock %}
</body>

</html>