{% extends 'base.html' %}

{% block page %}
{% load static %}

<div class="half-page-right">
    <div class="center text-center easel-container">
        <h1 class="logo-text">EASEL</h1>
        <h5 class="sublogo-text">Portfolio<br>Creator</h5>
        <hr class="half-rule">
        <div class="call-to-action">
            <p>Let your artistic talent speaks for itself. <br>Create your portfolio now.</p>
        </div>
    </div>
</div>
<div class="half-page-left">
    <div class="center text-center cover">
        <img src="{% static 'img/placeholders/cover.png' %}">
    </div>
</div>
{% endblock %}
