{% extends 'base.html' %}

{% block page %}
    <div class="col m6">
        <div class="form-container">
            <div class="text-left">
                <h2 class="form-header logo-text">Edit Information</h2>
            </div>
            <div class="text-center paint-as-input">
                <form enctype="multipart/form-data" method="post" action="{% url 'settings' %}">
                    <table>
                    {% if error %}
                        {{error}}
                    {% endif %}
                    {% if message %}
                        {{message}}
                    {% endif %}
                    {{form}}
                    </table>
                    {% csrf_token %}
                    <button id="save-button" class="btn waves-effect waves-light black" type="submit" name="action">
                        Save
                    </button>
                </form>
                <br>
                <button id="dashboard-button" class="btn waves-effect waves-light black" type="submit" name="action" onclick="location.href='{% url 'dashboard' %}'">
                    Back to Dashboard
                </button>
            </div>
        </div>
    </div>

{% endblock %}
