(% extends '../base.html' %) 
{% load static %} 

{% block page %}
    <div class="chat-list">
        <div class="list-title">
            <i class="material-icon">mail_outline</i>
            INBOX
        </div>
        <!-- tabs -->
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#recent-chats">RECENT</a></li>
                    <li class="tab col s3"><a href="#unread-chats">UNREAD</a></li>
                </ul>
            </div>
            <div id="recent-chats" class="col s12">Recent chats</div>
            <div id="unread-chats" class="col s12">Unread chats</div>
        </div>
        <!-- list -->
        <ul>
            <li>
                <div class="row chat-item active">
                    <div class="col m2 icon-container">
                        <img src="{% static 'img/placeholders/girl.png' }">
                    </div>
                    <div class="col m10 chat-highlight">
                        <h5 class="chat-name">Daniela Parker</h5>
                        <p class="chart-headline">Hi Jane, I saw your projet and am totally...</p>
                        <div class="chat-date">Oct 13</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat-content">
        <div class="chat-header">
            <div class="chat-name">Daniela Parker</div>
            <div class="chat-description">Instructor at Allegheny Art Institute</div>
        </div>
        <div class="chat-box">
            <div class="chat-msg row">
                <div class="col m2 icon-container">
                    <img src="{% static 'img/placeholders/girl.png' }">
                </div>
                <div class="col m4 msg-card">
                    Responsed to your Church Remodel
                    <img class="msg-img" src="{% static 'img/placeholders/church.png' %}">
                    Hi Jane, I saw your projet and am totally impressed. Will you be up for a chat?
                </div>
                <div class="msg-time">
                    09:56 AM
                </div>
            </div>
        </div>
        <div class="reply-box">
            <form method="post" action="/">
                <input type="text" placeholder="Write Something to Daniela...">
                <input type="submit">
            </form>
        </div>
    </div>
{% block page %}