
{% extends 'base.html' %}
{% load static %}
{% block page %}
<div class="center text-center paint-as-input">
    <h2 class="logo-text">Edit Media</h2>
    <div class="extra-margin-top row">
        <div class="col m6">
            <img src="{% url 'getMediaPhoto' projectName mediaName %}"/>
        </div>
        <div class="col m6 wide-gutter-col">
            <form method="post" enctype="multipart/form-data" action="{% url 'editMedia' projectName mediaName %}">
                <table>
                    {{form}}
                </table>
                {% csrf_token %}
                <div class="extra-margin-top">
                    <input type="hidden" name="username" value="{{ profile.user.username }}" />
                    <input type="hidden" name="oldName" value="{{ mediaName }}" />

                    <input class="dark-btn-alt" type="submit" name='action' value="Save" />
                    <input class="dark-btn-alt" type="submit" name='action' value="Delete" />
                    <input class="dark-btn-alt" type="submit" name='action' value="Cancel" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
