{% extends 'base.html' %}
{% load static %}
{% block page %}
<div class="center text-center paint-as-input">
    <h2 class="logo-text">Add Media</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'addMedia' projectName %}">
        <table>
            {% if message %}
                {{message}}
            {% endif %}
            {{ add_media_form }}
        </table>
    {% csrf_token %}
    <button class="dark-btn-alt" type="submit"> ADD &#10230; </button>
    </form>
</div>

{% endblock %}
