{% extends 'base.html' %}
{% load static %}
{% block page %}
<div class="center text-center paint-as-input">
    <h2 class="logo-text">Add Media</h2>
    {% for field, error in form.errors.items %}
      <span class="error">{{error}}</span>
    {% endfor %}
    <form method="post" enctype="multipart/form-data" action="{% url 'addMedia' projectID %}">
        <table>
            {% if message %}
                {{message}}
            {% endif %}
            {{form}}
        </table>
    {% csrf_token %}
    <button class="dark-btn-alt" type="submit"> ADD &#10230; </button>
    </form>
</div>

{% endblock %}
