{% extends 'base.html' %}
{% load static %}
{% block page %}
<div class="center text-center paint-as-input">
    <h2 class="logo-text">Add Project</h2>
    <form method="post" action="{% url 'addProject' %}">
        <table>
            {% for field, error in form.errors.items %}
              <span class="form-error">{{error}}</span>
            {% endfor %}
            {{form}}
        </table>
        {% csrf_token %}
        <button type="submit" class="dark-btn-alt">ADD &#10230;</button>
    </form>
</div>

{% endblock %}
