(% extends '../base.html' %) 
{% load static %}

{% block page %}
<div class="container">
    
    <!-- page header -->
    <div class="page-header">
        <h1 class="header-text header">MY PROJECTS</h1>
        <h5 class="subheader-text subheader">Edit and manage your projects.</h5>
        <button class="new-project-btn">
            <i class="material-icons">add</i>
            New
        </button>
    </div>
    
    <!-- tabs -->
    <div class="row">
        <div class="col s10">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#all">ALL</a></li>
                <li class="tab col s3"><a href="#test2">UI/UX DESIGN</a></li>
                <li class="tab col s3"><a href="#test3">ILLUSTAIONS</a></li>
            </ul>
        </div>
        <div class="col s2">
            <a href="#">ADD GROUP</a>
        </div>
        <div id="all" class="col s12">All Tab</div>
        <div id="test2" class="col s12">UI/UX Tab</div>
        <div id="test3" class="col s12">Illustration Tab</div>
    </div>
    
    <!-- project list -->
    <div class="project-list">
        <div class="row">
            <div class="col-m6">
                <div class="project-card">
                    <div class="project-img-container">
                        <img src="{% static 'img/placeholders/church.png' %}">
                    </div>
                    <div class="project-title">CHURCH REMODEL</div>
                    <div class="project-description">Some text to describe project</div>
                </div>
            </div>
            <div class="col-m6">
                <div class="project-card">
                    <div class="project-img-container">
                        <img src="{% static 'img/placeholders/apartment.png' %}">
                    </div>
                    <div class="project-title">FANCY APARTMENT</div>
                    <div class="project-description">Some text to describe project</div>
                </div>
            </div>
        </div>
    </div>
</div>

(% endblock %)