{% extends '../base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/project.js' %}"></script>
{% endblock %}

{% block page %}
<div class="container">

    <!-- page header -->
    <div class="page-header row">
        <div class="col m10">
            <h1 class="header-text header">MEDIA LIBRARY</h1>
            <h5 class="subheader-text subheader">Edit and manage your media by groups or projects.</h5>
        </div>
        <button class="new-project-btn" onclick="location.href='{% url 'addProject' %}'">
            <i class="material-icons">add</i><br>NEW<br />PROJECT
        </button>
    </div>

    <div class="project-list">
        <!-- tabs -->
        <div class="row">
            <div class="col s8">
                <ul class="tabs header-text tabs-fixed-width" id="project-tab">
                  <!-- project names -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% include '../components/sidebar.html' %}
{% endblock %}
