{% load static %}
<div class="editor-bar dark">
    <div class="bar-title">
       <a href="#">
            <img src="{% static 'img/logo/ink-light.png' %}">
       </a>
    </div>
    <ul class="editor-menu">
        <!-- page tab -->
        <li class="editor-item">
            <a href="#" id="page-tab">
				<span class="tab-indicator">
					<i class="icon icon-right-dir"></i>
				</span>
				PAGES
			</a>
            <br>
            <div class="list" id="page-list">
                {% for page in pages %}
                <div class="file">
                    {% if page.opened %}
                    <i class="{{page.name}} icon icon-file-o"></i>
                    {% else %}
                    <i class="{{page.name}} icon icon-file"></i>
                    {% endif %}
                    <span class="page-name">{{page.name}}</span>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- tools tab -->
        <li class="editor-item">
            <a href="#" id="tool-tab">
				<span class="tab-indicator">
					<i class="icon icon-right-dir"></i>
				</span>
				TOOLS
			</a>
            <div class="list" id="tool-list">
                <div class="sublist">
                    <div class="sublist-title">SITE SETTING</div>
                    <br>
                    <a href="#">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-ccw"></i>
                            </div>
                            <div class="icon-name">REVERT</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-eye"></i>
                            </div>
                            <div class="icon-name">VISIBILITY</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-site"></i>
                            </div>
                            <div class="icon-name">VIEW SITE</div>
                        </div>
                    </a>
                    <a href="#" class="publish">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-upload-cloud"></i>
                            </div>
                            <div class="icon-name">PUBLISH</div>
                        </div>
                    </a>
                </div>
                <br>
                <div class="sublist">
                    <div class="sublist-title">MANAGER</div>
                    <br>
                    <a class="modal-trigger" href="#media-library-modal">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-media"></i>
                            </div>
                            <div class="icon-name">MEDIA<br>LIBRARY</div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <!-- component tab -->
        <li class="editor-item">
            <a href="#" id="component-tab">
				<span class="tab-indicator">
					<i class="icon icon-right-dir"></i>
				</span>
				COMPONENTS
			</a>
            <div class="list" id="component-list" class=".grid-list">
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-textbox"></i>
                        </div>
                        <div class="icon-name">TEXTBOX</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-markdown"></i>
                        </div>
                        <div class="icon-name">MARKDOWN</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component" id="img-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-image"></i>
                        </div>
                        <div class="icon-name">IMAGE</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-video"></i>
                        </div>
                        <div class="icon-name">VIDEO</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-quote"></i>
                        </div>
                        <div class="icon-name">QUOTE</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-space"></i>
                        </div>
                        <div class="icon-name">SPACE</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-embed"></i>
                        </div>
                        <div class="icon-name">EMBED</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-rule"></i>
                        </div>
                        <div class="icon-name">RULE</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-row"></i>
                        </div>
                        <div class="icon-name">ROW</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-column"></i>
                        </div>
                        <div class="icon-name">COLUMN</div>
                    </div>
                </a>
                <a href="#" draggable="true" class="drag-component">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-grid"></i>
                        </div>
                        <div class="icon-name">GRID</div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
    <div class="editor-bottom">
        <button class="light-btn-outline publish-btn publish">
            PUBLISH CHANGE
        </button>
    </div>
</div>
