{% load static %}
<div class="editor-bar dark">
	<ul class="editor-menu">
		<li class="editor-item">
			<a href="#" id="page-tab">
				<span class="tab-indicator">
					<i class="icon icon-right-dir"></i>
				</span> 
				PAGES
				<a href="#" class="add-page-btn">
					<i class="icon icon-plus-square-o"></i>
				</a>
			</a>
			<br>
			<div class="list" id="page-list">
				<div class="directory">
					<i class="icon icon-folder-o"></i> PROJECT 
				</div>
				<div class="file">
					&emsp;&emsp;  <i class="icon icon-file"></i> index.html
				</div>
				<div class="file">
					&emsp;&emsp;  <i class="icon icon-file"></i> some.html
				</div>
				<div class="directory">
					<i class="icon icon-folder"></i> MISC
				</div>
			</div>
		</li>
		<li class="editor-item">
			<a href="#" id="component-tab">
				<span class="tab-indicator">
					<i class="icon icon-down-dir"></i>
				</span> 
				COMPONENTS
			</a>
			<div class="list" id="component-list">
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-textbox"></i>
						</div>
						<div class="icon-name">TEXTBOX</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-markdown"></i>
						</div>
						<div class="icon-name">MARKDOWN</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-image"></i>
						</div>
						<div class="icon-name">IMAGE</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-video"></i>
						</div>
						<div class="icon-name">VIDEO</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-quote"></i>
						</div>
						<div class="icon-name">QUOTE</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-space"></i>
						</div>
						<div class="icon-name">SPACE</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-embed"></i>
						</div>
						<div class="icon-name">EMBED</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-rule"></i>
						</div>
						<div class="icon-name">RULE</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-row"></i>
						</div>
						<div class="icon-name">ROW</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-column"></i>
						</div>
						<div class="icon-name">COLUMN</div>
					</div>
				</a>
				<a href="#">
					<div class="component-container">
						<div class="easel-icon-wrapper">
							<i class="component-icon icon-grid"></i>
						</div>
						<div class="icon-name">GRID</div>
					</div>
				</a>
			</div>
		</li>
	</ul>
	<div class="editor-bottom">
		<button class="light-btn-outline publish-btn" id="publish">PUBLISH CHANGE</button>
	</div>
</div>
