{% load static %}
{% block head %}
<script src="{% static 'js/editor.js' %}"></script>
{% endblock %}

<div id="editor-bar" class="dark">
	<div class="sidebar-header">
		<div class="sidebar-title">SITE EDITOR</div>
		<div class="sidebar-description">
			Drag and drop componenets to add to your portfolio site.
		</div>
		<div class="editor-body">
	        <!-- tabs -->
	        <div class="row">
	            <ul class="tabs tabs-light">
					{% for project in projects %}
					{% with project.id|stringformat:"s" as projectID %}
	                <li class="tab padding-top">
	                	<a href={{'#'|add:projectID}} >{{project.name|upper}}</a>
	                </li>
									{% endwith %}
									{% endfor %}
	            </ul>

							{% for project in projects %}
	            <div id={{project.id}} class="project col s12">
	            	<div class="row">
	            		<!-- append media in editor.js -->
	            	</div>
	            </div>
							{% endfor %}
	        </div>
	    </div>
	</div>
</div>
