{% load static %}
<div class="editor-bar dark">
    <div class="bar-title">
       <a href="{% url 'sitesHome'%}">
            <img src="{% static 'img/logo/ink-light.png' %}">
       </a>
    </div>
    <ul class="editor-menu">
        <ul class='custom-menu'>
            <li data-action="copy" class="header-text dark-text sm-text" page-name="#">
                <i class="dark-text icon-files-o"></i>
                COPY PAGE
            </li>
            <li data-action="delete" class="header-text dark-text sm-text" page-name="#">
                <i class="dark-text icon-close"></i>
                DELETE PAGE
            </li>
        </ul>

        <!-- page tab -->
        <li class="editor-item">
            <a href="#" id="page-tab">
				<span class="tab-indicator">
					<i class="icon icon-right-dir"></i>
				</span>
				PAGES
			</a>
            <br>
            <div class="list" id="page-list">
                {% for page in pages %}
                <div class="file" file-name="{{page.name}}">
                    {% if page.opened %}
                    <i class="{{page.name}} icon icon-file-o"></i>
                    {% else %}
                    <i class="{{page.name}} icon icon-file"></i>
                    {% endif %}
                    <span class="page-name">{{page.name}}</span>
                </div>
                {% endfor %}
            </div>
        </li>
        <!-- tools tab -->
        <li class="editor-item">
            <a href="#" id="tool-tab">
				<span class="tab-indicator">
					<i class="icon icon-right-dir"></i>
				</span>
				TOOLS
			</a>
            <div class="list" id="tool-list">
                <div class="sublist">
                    <div class="sublist-title">SITE SETTING</div>
                    <br>
                    <a href="#" id="preview-button">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-eye"></i>
                            </div>
                            <div class="icon-name">PREVIEW</div>
                        </div>
                    </a>
                    <a href="#" id="open-site-button">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-site"></i>
                            </div>
                            <div class="icon-name">OPEN SITE</div>
                        </div>
                    </a>
                    <a href="#publish-site-modal" id="publish-site-button" class="modal-trigger">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-upload-cloud"></i>
                            </div>
                            <div class="icon-name">PUBLISH</div>
                        </div>
                    </a>
                </div>
                <br>
                <div class="sublist">
                    <div class="sublist-title">MANAGER</div>
                    <br>
                    <a class="modal-trigger" href="#media-library-modal" id="media-library-trigger">
                        <div class="component-container">
                            <div class="easel-icon-wrapper">
                                <i class="component-icon icon-media"></i>
                            </div>
                            <div class="icon-name">MEDIA<br>LIBRARY</div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <!-- component tab -->
        <li class="editor-item">
            <a href="#" id="component-tab">
				<span class="tab-indicator">
					<i class="icon icon-right-dir"></i>
				</span>
				COMPONENTS
			</a>
            <div class="list" id="component-list" class="grid-list">
                <div class="drag-component" id="textbox-cmp">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-textbox"></i>
                        </div>
                        <div class="icon-name">TEXTBOX</div>
                    </div>
                </div>
                <div class="drag-component" id="img-cmp">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-image"></i>
                        </div>
                        <div class="icon-name">IMAGE</div>
                    </div>
                </div>
                <div class="drag-component" id="video-cmp">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-video"></i>
                        </div>
                        <div class="icon-name">VIDEO</div>
                    </div>
                </a>
                <div class="drag-component" id="quote-cmp">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-quote"></i>
                        </div>
                        <div class="icon-name">QUOTE</div>
                    </div>
                </div>
                <div class="drag-component" id="space-cmp">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-space"></i>
                        </div>
                        <div class="icon-name">SPACE</div>
                    </div>
                </div>
                <div class="drag-component" id="embed-cmp">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-embed"></i>
                        </div>
                        <div class="icon-name">EMBED</div>
                    </div>
                </div>
                <div class="drag-component" id="rule-cmp">
                    <div class="component-container">
                        <div class="easel-icon-wrapper">
                            <i class="component-icon icon-rule"></i>
                        </div>
                        <div class="icon-name">RULE</div>
                    </div>
                </div>
            </div>
        </li>
        <!-- style tab -->
        <li class="editor-item">
            <a href="#" id="style-tab">
                <span class="tab-indicator">
                    <i class="icon icon-right-dir"></i>
                </span>
                STYLER
            </a>
            <br>
                <div class="list" id="style-list">
                    <div class="sublist">
                        <div class="sublist-title">FONT</div>
                        <br>
                        <div class="style-opt">
                            <span class="header-text icon-name sm-text light-text">text color </span>
                            <input name="color" class="jscolor style-input" value="7b98a1">
                        </div>
                        <div class="style-opt">
                            <span class="header-text icon-name sm-text light-text">font family </span>
                            <select class="sm-text style-input" name="logo-font-family">
                                <optgroup label="Serif">
                                    <option value="Garamond">Garamond</option>
                                    <option value="Times New roman">Times New Roman</option>
                                    <option value="Baskerville">Baskerville</option>
                                </optgroup>
                                <optgroup label="San Serif">
                                    <option value="Arial">Arial</option>
                                    <option value="Futura">Futura</option>
                                    <option value="Lato">Lato</option>
                                    <option value="Lato">Josefin Sans</option>
                                    <option value="Roboto">Roboto</option>
                                    <option value="Verdana">Verdana</option>
                                </optgroup>
                                <optgroup label="Fixed Width">
                                    <option value="Courier New">Courier New</option>
                                    <option value="Impact Label Reversed">Impact Label</option>
                                </optgroup>
                                <optgroup label="Brush Script">
                                    <option value="Gloss And Bloom">Gloss And Bloom</option>
                                </optgroup>
                            </select>
                        </div>
                        <br>
                        <div class="style-opt">
                            <span class="header-text icon-name sm-text light-text">font size (pt)</span>
                            <input name="font-size" value="12pt" class="style-input" type="text"/>
                        </div>
                        <div class="style-opt">
                            <span class="header-text icon-name sm-text light-text">letter spacing (px)</span>
                            <input name="letter-spacing" value="0px" class="style-input" type="text"/>
                        </div>
                    </div>
                    <br><br>
                    <div class="sublist">
                        <div class="sublist-title">PADDING (px or %)</div>
                        <br>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">top </span>
                            <input name="padding-top" value="0px" class="style-input" type="text"/>
                        </div>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">right </span>
                            <input name="padding-right" value="0px" class="style-input" type="text"/>
                        </div>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">bottom </span>
                            <input name="padding-bottom" value="0px" class="style-input" type="text"/>
                        </div>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">left </span>
                            <input name="padding-left" value="0px" class="style-input" type="text"/>
                        </div>
                </div>
                <br><br>
                <div class="sublist">
                        <div class="sublist-title">MARGIN (px or %)</div>
                        <br>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">top </span>
                            <input name="margin-top" value="0px" class="style-input" type="text"/>
                        </div>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">right </span>
                            <input name="margin-right" value="0px" class="style-input" type="text"/>
                        </div>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">bottom </span>
                            <input name="margin-bottom" value="0px" class="style-input" type="text"/>
                        </div>
                         <div class="style-opt quarter-opt">
                            <span class="sm-text light-text label">left </span>
                            <input name="margin-left" value="0px" class="style-input" type="text"/>
                        </div>
                </div>
                <br><br>
                <div class="sublist">
                    <div class="sublist-title">DIMENSION (px or %)</div>
                    <br>
                     <div class="style-opt half-opt">
                        <span class="sm-text light-text label">width </span>
                        <input name="width" value="0px" class="style-input" type="text"/>
                    </div>
                     <div class="style-opt half-opt">
                        <span class="sm-text light-text label">height </span>
                        <input name="height" value="0px" class="style-input" type="text"/>
                    </div>
                </div>
                <br><br>
                <div class="sublist">
                        <div class="sublist-title">BACKGROUND</div>
                        <br>
                        <div class="style-opt">
                            <span class="header-text icon-name sm-text light-text">bg color </span>
                            <input name="background-color" class="jscolor style-input" value="7b98a1">
                        </div>
                </div>
                <br><br>
                 <div class="sublist">
                        <div class="sublist-title">BORDER</div>
                        <br>
                         <div class="style-opt">
                            <span class="header-text icon-name sm-text light-text">style</span>
                            <select class="sm-text style-input" name="border-style">
                                <option value="none">none</option>
                                <option value="dotted">dotted</option>
                                <option value="dashed">dashed</option>
                                <option value="solidd">solid</option>
                                <option value="double">double</option>
                            </select>
                        </div>
                         <div class="style-opt">
                            <span class="header-text icon-name sm-text light-text">border color </span>
                            <input name="border-color" class="jscolor style-input" value="7b98a1">
                        </div>
                         <div class="style-opt">
                            <span class="sm-text light-text label">border width </span>
                            <input name="border-width" value="0px" class="style-input" type="text"/>
                        </div>
                </div>
                <br><br>
            </div>
        </li>
    </ul>
    <div class="editor-bottom">
        <a href="#" class="header-text hover-gray dotted-text" id="current-site">
            {{ site.name|upper }}
            <i class="icon-down-open-mini"></i>
        </a>
        <button id="save-button" class="light-btn-outline publish-btn publish">
            SAVE ALL
        </button>
    </div>
</div>
<div id="site-menu" class="text-center hidden">
    <div class="center">
        <h5 class="header-text loose-spacing light-text no-wrap">SWITCH SITE</h5>
        <a class="header-text light-text sm-text underline modal-trigger" href="#add-site-modal">OR OPEN NEW SITE +</a>
        <ul>
            {% for site in sites %}
                <li>
                    {% if site.name == siteName %}
                        <a class="gray-text header-text small-text">
                            <strong>
                                <i class="light-text icon-asterisk"></i>
                                <span class="light-text loose-spacing">
                                    {{ site.name|upper }}
                                </span>
                            </strong>
                        </a>
                    {% else %}
                        <a href="/easel/sites/{{ site.name }}/editor/" class="gray-text header-text small-text hover-underline loose-spacing">
                            {{ site.name|upper }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <a id="close-site-menu" class="modal-close-btn cursor-pointer">
        <i class="icon-close-big light-text"></i>
    </a>
</div>
