<!-- image-selecting -->
<div id="general-modal" class="modal library-modal">
    <div class="modal-content">
        <h4 class="header-text modal-header"></h4>
		<form method="post" action="#" id="paste-url-form">
	        <input name="url" class="input-medium" placeholder="Paste url here">
		    <button class="dark-btn-alt float-right" type="submit"> UPLOAD &#10230; </button>
	    </form>
    </div>
   
    <a href="#!" class="modal-action modal-close modal-close-btn close-img-upload">
    	<i class="icon-close-big"></i>
    </a>
</div>