<!-- media library modal -->
<div id="media-library-modal" class="modal library-modal">
    <div class="modal-content">
        <h4 class="header-text modal-header">MEDIA LIBRARY</h4>
        <p>Select a project from the following to browse.</p>
        <div class="project-list">
	        <!-- tabs -->
	        <div class="row">
	            <div class="col s8">
	                <ul class="tabs header-text tabs-fixed-width" id="project-tab">
	                  <!-- project names -->
	                </ul>
	            </div>
	        </div>
	    </div>
    </div>
    <a href="#!" class="modal-action modal-close modal-close-btn">
    	<i class="icon-close-big"></i>
    </a>
</div>