{% extends '../base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/modals.js' %}"></script>
{% endblock %}

{% block page %}
	<div class="center text-center">
        <div class="msg-wrapper">
            <div class="easel-logo-mini">
                <img src="{% static 'img/logo/ink-dark.png' %}">
            </div>
            <div class="header-text loose-spacing">
                YOU DON'T HAVE A SITE YET. <br>
                CREATE ONE NOW.
            </div>
            <br>
            <div class="paint-as-input">
            	<form id="add-site-modal" method="post">
	                <table>
                        {{ add_site_form }}
                    </table>
                    {% csrf_token %}
				    <button type="submit" class="dark-btn-alt">CREATE &#10230;</button>
        		</form>
            </div>
        </div>
	</div>
{% endblock %}

{% block sidebar %}
    {% include '../components/sidebar.html' %}
{% endblock %}
