<div id="page-preview">
    <div id="tab-bar">
        <ul class="cr-tabs clearfix">
            {% for page in pages %}
            {% if page.opened %}
                {% if page.active %}
                <li class="active" tab-target="{{page.name}}">
                {% else %}
                <li tab-target="#{{page.name}}">
                {% endif %}
                    <a href=#>{{page.name}}</a>
                    <a href="#" class="close-tab"><span class="icon-close"></span></a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="add-page" class="tooltip">
        <span class="tooltiptext">NEW PAGE</span>
        <a class="new-page modal-trigger" href="#add-page-modal">
				<i class="icon-plus"></i>
			</a>
    </div>
    <div id="page-content">
        {% for page in pages %}
            {% if page.opened %}
                {% if page.active %}
                    <div id="{{page.name}}">
                {% else %}
                    <div id="{{page.name}}" class="hidden">
                {% endif %}
                        {% autoescape off %}{{ page.html }}{% endautoescape %}
                    </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
