{% load static %}
<div id="page-preview" data-username="{{username}}" data-siteName={{siteName}}>
    <div id="tab-bar">
        <ul class="cr-tabs clearfix">
            {% for page in pages %}
                {% if page.opened %}
                    {% if page.active %}
                    <li tab-target="#{{page.name}}" class="active">
                    {% else %}
                    <li tab-target="#{{page.name}}">
                    {% endif %}
                        <a href=#>{{page.name}}</a>
                        <a href="#" class="close-tab"><span class="icon-close"></span></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="add-page" class="tooltip">
        <span class="tooltiptext">NEW BLANK PAGE</span>
        <a class="new-page modal-trigger" href="#add-page-modal">
			<i class="icon-plus"></i>
		</a>
    </div>
    <div id="page-content">
        <!-- TODO: add logic to default page -->
        <div class="empty-workspace-msg hidden">
            <div class="msg-wrapper">
                <div class="easel-logo-mini">
                    <img src="{% static 'img/logo/ink-dark.png' %}">
                </div>
                <div class="header-text">
                    NO ACTIVE TAB. <br> TRY
                    <a class="new-page modal-trigger" href="#add-page-modal">CREATING NEW PAGE</a> OR OPENING EXISTING PAGE.
                </div>
            </div>
        </div>
        {% for page in pages %}
            {% if page.opened %}
                {% if page.active %}
                    <div id="{{page.name}}">
                {% else %}
                    <div id="{{page.name}}" class="hidden">
                {% endif %}
                        {% autoescape off %}{{ page.html }}{% endautoescape %}
                    </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
