{% extends '../base.html' %}
{% load static %}

{% block head %}
	<script src="{% static 'js/editor_ui.js' %}"></script>
	<script src="{% static 'js/editor_ajax.js' %}"></script>
	<script src="{% static 'js/project.js' %}"></script>
{% endblock %}

{% block page %}

	<!-- preloader for site editor -->
	{% include '../components/preloader.html' %}

	<!-- main page -->
	<div id="editor-page">
		{% include './editor-bar.html' %}
		{% include './page-preview.html' %}
	</div>

	<!-- modals -->
	{% include './add-page-modal.html' %}
	{% include './media-modal.html' %}

{% endblock %}

{% block sidebar %}
    {% include '../components/sidebar.html' %}
{% endblock %}
