{% extends '../base.html' %}
{% load static %}

{% block head %}
<script src="{% static 'js/graph.js' %}"></script>
{% endblock %}

{% block page %}
<div class="container dashboard">
    <div class="page-header row">
        <div class="col m8">
            <div class="header">DEAR {{profile.user.first_name|upper}},</div>
            <div class="subheader">This is your overview of the day.</div>
        </div>
        <div class="col m4 date">
            {% now "M" %} / {% now "jS" %}
        </div>
    </div>
    <div class="stats row">
        <div class="col m3">
            <div class="stats-box">
                <div class="number">{{visitorNum}}</div>
                <div class="number-description">visitors<br>today</div>
            </div>
        </div>
        <div class="col m3">
            <div class="stats-box">
                <div class="number">{{mediaNum}}</div>
                <div class="number-description">media<br>total</div>
            </div>
        </div>
        <div class="col m3">
            <a href="{% url 'projects' %}">
            <div class="stats-box">
                <div class="number">{{projectNum}}</div>
                <div class="number-description">projects<br>total</div>
            </div>
            </a>
        </div>
        <div class="col m3">
            <div class="stats-box">
                <div class="number">{{siteNum}}</div>
                <div class="number-description">sites<br>total</div>
            </div>
        </div>
    </div>
    <div class="data-viz row">
        <div class="col m12">
            <div id="graph1"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
    {% include '../components/sidebar.html' %}
{% endblock %}