@import "global";

.homepage-container {
	margin: 10px;
	padding: 70px 50px 40px;
}

.easel-container {
	@extend .homepage-container;
	.call-to-action {
		p {
			padding: 0;
			margin: 0;
		}
	}
}

.form-container {
	@extend .homepage-container;
	box-shadow: 4px 4px 20px rgba(100,100,100,.75);
    background-color: #F9F9F9;

	.form-header {
		font-size: 20pt;
    	letter-spacing: 6px;
    	color: $gray-scale-00;
	}

	a {
		color: $interface-color-01;
		text-decoration: underline;
		-webkit-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
		&:hover {
			color: $gray-scale-02;
		}
	}
}

.page-header {
	margin: 120px 0 50px;
	.header {
		font-size: 35pt;
    	letter-spacing: 4px;
    	margin: 10px 0;
	}
	.subheader {
		margin: 0;
		letter-spacing: 2px;
		color: $gray-scale-02;
	}
}

.project-list {
	.project-card {
		.project-img-container {
			margin-bottom: 15px;
		}
	}
	.item-list {
		margin-top: 30px;
	}
	.project-title {
		font-size: 20pt;
	    letter-spacing: 4px;
	    color: $gray-scale-02;
	}
	.project-description {
		font-family: $font-family-01;
		font-size: 12pt;
		margin-bottom: 20px;
	}
	.add-group {
		@include smooth(0.3s);
		line-height: 48px;
		font-weight: 300;
    	letter-spacing: 2px;
    	color: $interface-color-01;
    	text-decoration: underline;
    	&:hover {
    		color: $interface-color-05;
    	}
	}
}