@import "global";

* {
	font-family: $font-family-01;
}

figcaption {
	font-family: $font-family-02;
	font-size: 9pt;
}

.logo-text {
	font-family: $logo-font;
	letter-spacing: 10px;
}

.sublogo-text {
	font-family: $sublogo-font;
	letter-spacing: 4px;
}

.header-text {
	font-family: $header-font;
}

.subheader-text {
	font-family: $header-font;
}


/* alignment class */
.center {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.bottom {
    position: fixed;
    bottom: 0%;
}

.halign {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* page elements */
.half-rule {
	color: $gray-scale-05;
	margin: 40px 0 30px;
}

.form-center {
    transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

/* buttons */
.btn {
	background: none;
    border: 1.5px solid black;
    padding: 5px 10px;
    text-align: center;
}

.light-btn {
	@extend .btn;

}

.dark-btn {
	@extend .btn;
	color: $interface-color-01;
}

/* img */
.col {
	img {
		max-width: 100%;
	}
}

/* img */
.wide-container {
	margin: 0 auto;
    max-width: 1280px;
	width: 85%;
}