@import "global";

figcaption {
	font-family: $font-family-02;
	font-size: 9pt;
}

.logo-text {
	font-family: $logo-font;
	letter-spacing: 10px;
}

.sublogo-text {
	font-family: $sublogo-font;
	letter-spacing: 4px;
}

.header-text {
	font-family: $header-font;
}

.subheader-text {
	font-family: $header-font;
}


/* alignment class */
.center {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.float-center {
	margin: auto;
}
.bottom {
    position: fixed;
    bottom: 0%;
}

.halign {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
.half-page {
	position: fixed;
	height: 100%;
	width: 50%;
}
.half-page-left {
	@extend .half-page;
	left: 0;
}
.half-page-right {
	@extend .half-page;
	right: 0;
}
.scrollable {
	overflow-y: scroll;
}

/* page elements */
.half-rule {
	color: $gray-scale-05;
	margin: 40px 0 30px;
}

.form-center {
    transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

/* buttons */
.btn {
	background: none;
    border: 1.5px solid black;
    padding: 5px 10px;
    text-align: center;
    font-family: $sublogo-font;
    &:focus {     
	    background: none;    
	}
	&:active {     
	    background: none;    
	}
}
.new-project-btn {
	@extend .btn;
	@include smooth(0.3s);

	color: $gray-scale-04;
	border: 1.5px solid $gray-scale-04;
	display: inline-block;
	font-family: $header-font;
	font-size: 10pt;
	margin: 20px 0;

	i {
		color: inherit;
	}
	&:hover {
		color: $interface-color-01;
		border: 1.5px solid $interface-color-01;
	}
}
.back-btn {
	@include smooth(0.3s);
	color: $interface-color-05;
	&:hover {
		color: $gray-scale-03;
	}
}
.light-btn-outline {
	@extend .btn;
	border: 1.5px solid $interface-color-05;
}
.dark-btn-outline {
	@extend .btn;
	color: $interface-color-01;
}
.dark-btn {
	@extend .btn;
	background-color: $interface-color-01;
	color: $interface-color-06;
}
.dark-btn-alt {
	@include smooth(0.3s);
	@extend .btn;
	color: $gray-scale-01;
	font-family: $header-font;
	border: 1.5px solid $gray-scale-01;
	letter-spacing: 2px;
	&:hover {
		background-color: $gray-scale-01;
		color: $interface-color-06;
	}
}
.close-btn {
	position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
    &:hover {
    	@include smooth(0.3s);
    	i { 
    		color: $gray-scale-04 !important;
    	}
    }
}

/* img */
.col {
	img {
		max-width: 100%;
	}
}

.wide-gutter-col {
	padding: 0 20px !important;
}

.wide-container {
	margin: 0 auto;
    max-width: 1280px;
	width: 85%;
}

.fixed-size-container {
	max-width: 800px;
	padding: 120px 50px;
	margin: 0 auto;
}
.full-width-container {
	width: 100%;
	max-width: 100%;
	margin: 0 100px;
}
.padding-container {
	padding-right: 50px;
}

.extra-margin-top {
	margin: 20px 0 !important;
}

/* tabs */
.tab {
	font-family: $header-font !important;
    letter-spacing: 2px;
}

.tab-icon {
    transform: translate(0, 25%);
}
.tabs .tab a{
    color: $gray-scale-04;
} /*Black color to the text*/

.tabs .tab a:hover {
    color: $interface-color-01;
} /*Text color on hover*/

.tabs .tab a.active {
    color: $interface-color-01;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: $interface-color-01;
} /*Color of underline*/

.tabs-light .tab a{
    color: $gray-scale-04;
} /*Black color to the text*/

.tabs-light .tab a:hover {
    color: $interface-color-07;
}

.tabs-light .tab a.active {
    color: $interface-color-07;
}

.tabs-light .indicator {
    background-color: $interface-color-07;
}

/* drop down */
.dropdown-content > li > a {
    color: $interface-color-01;
    letter-spacing: 1.5px;
    font-size: 10pt;
}

.modal-overlay {
    opacity: 0.8 !important;
}


/* form input */
input {
	margin: 0 !important;
}
.paint-as-input {
	@include smooth(0.3s);
	input[type="text"] {
		border-bottom: none!important;
  		box-shadow: none!important;
	    background: url('../img/form/text_input_long_01.png') no-repeat;
	    background-size: 100% 100%;
	}
	input[type="password"] {
		border-bottom: none!important;
  		box-shadow: none!important;
		background: url('../img/form/text_input_long.png') no-repeat;
	    background-size: 100% 100%;
	}

	input:focus {
		transform: scale(1.05);
	}
}

/* nav bar */
nav {
	background-color: $interface-color-01 !important;
	color: $interface-color-05 !important;
	.brand-logo {
		margin: 0 50px;
		font-weight: 100;
		letter-spacing: 2px;
	}
	ul {
		font-family: $header-font;
		letter-spacing: 4px;
		font-weight: 400;
	}
}
