@import "global";

*:focus {
    outline: none;
}

h2 {
	font-size: 30pt;
}
h3 {
	font-size: 25pt;
}

figcaption {
	font-family: $font-family-02;
	font-size: 9pt;
}
.logo-text {
	font-family: $logo-font;
	letter-spacing: 10px;
}
.sublogo-text {
	font-family: $sublogo-font;
	letter-spacing: 4px;
}
.header-text {
	font-family: $header-font;
}
.subheader-text {
	font-family: $header-font;
}
.large-text {
	font-size: 20pt;
}
.md-lg-text {
	font-size: 18pt;
}
.medium-text {
	font-size: 16pt;
}
.md-sm-text {
	font-size: 14pt;
}
.sm-text {
	font-size: 10pt !important;
}
.light-text {
	color: $interface-color-05;
}
.dark-text {
	color: $interface-color-01 !important;
}
.gray-text {
	color: $gray-scale-03 !important;
}
.cover-text {
    font-family: $sublogo-font;
	font-size: 15px;
    text-align: left;
}
.cover-logo-text {
    font-size: 6.2rem;
    font-family: $logo-font;
	letter-spacing: 10px;
}
.no-style-a {
	text-decoration: underline;
	color: #7b98a1 !important;
}

/* visibility */
.hidden {
	display: none;
}

/* alignment class */
.center {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.float-center {
	margin: auto;
}
.bottom {
    position: fixed;
    bottom: 0%;
}

.halign {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
.half-page {
	position: fixed;
	height: 100%;
	width: 50%;
}
.half-page-left {
	@extend .half-page;
	left: 0;
}
.half-page-right {
	@extend .half-page;
	right: 0;
}
.scrollable {
	overflow-y: scroll;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.block-elmt {
	display: block;
}
.right-top {
	float: right;
	padding: 10px;
}
.cursor-pointer {
	cursor: pointer !important;
}

/* page elements */
.half-rule {
	color: $gray-scale-05;
	margin: 40px 0 30px;
}

.form-center {
    transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

/* buttons */
.btn {
	background: none;
    border: 1.5px solid black;
    padding: 5px 10px;
    text-align: center;
    font-family: $sublogo-font;
    &:focus {     
	    background: none;    
	}
	&:active {     
	    background: none;    
	}
}
.new-project-btn {
	@extend .btn;
	@include smooth(0.3s);

	color: $gray-scale-04;
	border: 1.5px solid $gray-scale-04;
	display: inline-block;
	font-family: $header-font;
	font-size: 10pt;
	margin: 20px 0;

	i {
		color: inherit;
	}
	&:hover {
		color: $interface-color-01;
		border: 1.5px solid $interface-color-01;
	}
}
.back-btn {
	@include smooth(0.3s);
	color: $interface-color-05;
	&:hover {
		color: $gray-scale-03;
	}
}
.light-btn-outline {
	@extend .btn;
	border: 1.5px solid $interface-color-05;
}
.dark-btn-outline {
	@extend .btn;
	color: $interface-color-01;
}
.dark-btn {
	@extend .btn;
	background-color: $interface-color-01;
	color: $interface-color-06;
}
.dark-btn-alt {
	@include smooth(0.3s);
	@extend .btn;
	color: $gray-scale-01;
	font-family: $header-font;
	border: 2px solid $gray-scale-01;
	letter-spacing: 2px;
	border-radius: 0;
	&:hover {
		background-color: $gray-scale-01;
		color: $interface-color-06;
	}
}
.close-btn {
	position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
    &:hover {
    	@include smooth(0.3s);
    	i { 
    		color: $gray-scale-04 !important;
    	}
    }
}
.round-btn {
	@include smooth(0.2s);
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid $interface-color-05;
    border-radius: 50%;
    color: $interface-color-05;
    text-align: center;
    text-decoration: none;
    background: $interface-color-01;
    box-shadow: 0 0 3px black;
    font-size: 20px;
    font-weight: bold;
    &:hover {
    	color: $interface-color-07;
    	border: 2px solid $interface-color-07;
    	transform: scale(1.05);
    }
}
.circle-icon {
	@include smooth(0.3s);
    background-color: #EAEAEA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
    i {
    	color: $interface-color-01 !important;
    }
    &:hover {
    	background-color: $interface-color-01;
    	color: $interface-color-05;
    	i {
    		color: $interface-color-05 !important;
    	}
    }
}
.dangling-left {
	left: -80px;
	position: absolute;
	top: 0;
}

/* img */
.col, div {
	img {
		max-width: 100%;
	}
}
.img-to-upload {
	@include smooth(0.3s);
	&:hover {
		transform: scale(1.05);
		box-shadow: 5px 5px 10px rgba(150, 150, 150, 0.5);
	}
	.media-caption {
		font-family: $font-family-01;
		font-size: 12pt;
		color: $gray-scale-01;
		margin-top: 5px;
	}
}

.wide-gutter-col {
	padding: 0 20px !important;
}

.wide-container {
	margin: 0 auto;
    max-width: 1280px;
	width: 85%;
}
.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}
.fixed-size-container {
	max-width: 800px;
	padding: 120px 50px;
	margin: 0 auto;
}
.full-width-container {
	width: 100%;
	max-width: 100%;
	margin: 0 100px;
}
.margin-container {
	margin: 20px;
}
.padding-container {
	padding-right: 50px;
}
.padding-top {
	padding: 50px 0;
}

.extra-margin-top {
	margin: 20px 0 !important;
}
.top {
  z-index: 100!important;
  position: relative;
}

.bottom {
  z-index: -100!important;
  position: relative;
}
/* tabs */
.tab {
	font-family: $header-font !important;
    letter-spacing: 2px;
}
.tab-icon {
    transform: translate(0, 25%);
}
.tabs .tab a{
    color: $gray-scale-04;
} /*Black color to the text*/

.tabs .tab a:hover {
    color: $interface-color-01;
} /*Text color on hover*/

.tabs .tab a.active {
    color: $interface-color-01;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: $interface-color-01;
} /*Color of underline*/

.tabs-light .tab a{
    color: $gray-scale-04;
} /*Black color to the text*/

.tabs-light .tab a:hover {
    color: $interface-color-07;
}

.tabs-light .tab a.active {
    color: $interface-color-07;
}

.tabs-light .indicator {
    background-color: $interface-color-07;
}
.tab-indicator {
	.icon {
		transform: translate(0, 50%);
		color: $interface-color-07;
		font-size: 25pt;
	}
}

/* drop down */
.dropdown-content > li > a {
    color: $interface-color-01;
    letter-spacing: 1.5px;
    font-size: 10pt;
}

.modal-overlay {
    opacity: 0.8 !important;
}


/* form input */
input {
	margin: 0 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    /* overwrite materialize style */
    margin: 0 0 15px 0 !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid $interface-color-01 !important;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $gray-scale-06 !important;
    line-height: 1.5;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: $gray-scale-06 !important;
    line-height: 1.5;
}

input::-ms-input-placeholder {
    /* IE 10+ */
    color: $gray-scale-06 !important;
    line-height: 1.5;
}

input::-moz-placeholder {
    /* Firefox 18- */
    color: $gray-scale-06 !important;
    line-height: 1.5;
}

.input-field textarea:focus + label {
  font-family: $header-font;
}

.input-medium {
	width: 70% !important;
}

textarea:focus {
  border-bottom: 1px solid $interface-color-01;
  -webkit-box-shadow: 0 1px 0 0 $interface-color-01;
  -moz-box-shadow: 0 1px 0 0 $interface-color-01;
  box-shadow: 0 1px 0 0 $interface-color-01;
}

.paint-as-input {
	@include smooth(0.3s);
	input[type="text"] {
		border-bottom: none!important;
  		box-shadow: none!important;
	    background: url('../img/form/text_input_long_01.png') no-repeat;
	    background-size: 100% 100%;
	}
	input[type="password"] {
		border-bottom: none!important;
  		box-shadow: none!important;
		background: url('../img/form/text_input_long.png') no-repeat;
	    background-size: 100% 100%;
	}
}

/* nav bar */
nav {
	background-color: $gray-scale-02 !important;
	color: $interface-color-05 !important;
	.brand-logo {
		margin: 0 50px;
		font-weight: 100;
		letter-spacing: 2px;
	}
	ul {
		font-family: $header-font;
		letter-spacing: 4px;
		font-weight: 400;
	}
}

/* tooltip */
.tooltip {
	@include smooth(0.3s);
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: $header-font;
    font-size: 10pt;
    letter-spaceing: 3px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    top: -5px;
    right: 105%; 
}

/* error text */
.errorlist>li {
	color: rgb(225, 0, 0);
}

#alert-box {
	position: fixed;
	top: 20%;
	padding: 30px;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	color: $interface-color-07;
	margin: 0 20px;
    border-radius: 5px;
    width: 200px;
    right: -300px;
	.close-alert {
		position: absolute;
		right: 0;
		top: 0;
		margin: 3px;
		i {
			font-size: 14pt;
			color: $interface-color-07;
		}
	}
	#alert-msg {
		color: $interface-color-07;
	}
}
/* preloader */
.preloader-overlay {
    position: absolute;
    z-index: 50;
    background-color: $interface-color-08;
    width: 100%;
    height: 100%;
    .loading {
    	padding: 10px 0;
    	color: $interface-color-07;
    	font-family: $header-font;
    	letter-spacing: 2px;
    	font-size: 10pt;
    	text-align: center;
    	position: absolute;
    	bottom: -50%;
    }
    .spinner-wrapper {
    	transform: translate(-50%, -50%);
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 80px;
	    height: 80px;
    }

    .double-bounce1,
    .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $interface-color-07;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-bounce {
        0%,
        100% {
            -webkit-transform: scale(0.0)
        }
        50% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes sk-bounce {
        0%,
        100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
}



.component-container {
    @include smooth(0.3s);
    float: left;
    text-align: center;
    width: 110px;
    height: 100px;
    margin: 10px 5px;
    padding: 10px;
    &:hover {
        background-color: $black;
    }
    .easel-icon-wrapper {
	    height: 60px;
	    margin: 0 auto;
	}
	.icon-name {
	    color: $interface-color-07;
	    font-size: 10pt;
	    font-family: $header-font;
		font-size: 10pt;
		letter-spacing: 2px;
	}
	a, i {
    	color: $interface-color-07;
    }
    .component-icon {
		font-size: 40pt;
		color: $interface-color-07;
	}
}

.modal-close-btn {
	@include smooth(0.3s);
	position: absolute;
	right: 0;
	top: 0;
	padding: 25px;
	color: $interface-color-01;
	&:hover {
		color: $gray-scale-03;
	}
	i {
		font-size: 20pt;
	}
}

ul {
	padding-left: 0;
    list-style-type: none;
    list-style: none;
}

.autocomplete-content {
	color: $interface-color-01;
    overflow: visible;
    width: 80%;
}
