@import "global";
.ud {
	&:hover {
		outline: 2px solid $highlight-color-01;
	}
	div, p, strong, i {
		color: inherit;
		margin: 0;
	}
	img {
		margin: 0;
		width: 100%;
	}
	strong {
		font-weight: 600;
	}
}
.ud.img, .ud.div {
	margin: 0;
}
.ud.space {
	height: 50px;
}
#ud-focus {
	outline: 3px solid $highlight-color-01;
}
.delete-ud {
	z-index: 30;
	.icon-garbage {
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-45%, -40%);
	    z-index: 200;
	}
}
#main-container {
	min-height: 200px;
}

/* medium editor */
.medium-editor-toolbar-actions {
	b, i, u {
		color: $interface-color-05 !important;
	}
}

/* components */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}